.label {
    -fx-font-size: 40;
    -fx-font-family: Arial Narrow;
    -fx-font-weight: Bold;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 0,0,0,2.5 );
}

.button {
    -fx-font-size: 24px;
    -fx-font-weight: Bold;
}