.label {
    -fx-font-size: 24;
    -fx-font-family: Arial Narrow;
    -fx-font-weight: Bold;
    -fx-text-fill: white;
}

.button {
    -fx-background-color: rgba(0,0,0,0);
    -fx-font-size: 24;
    -fx-font-family: Arial Narrow;
    -fx-font-weight: Bold;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 10px;
    -fx-border-width: 3px;
}

.buttonReg {
    -fx-font-size: 13;
    -fx-border-width: 2px;
}

.buttonLog {
    -fx-font-size: 18;
    -fx-border-width: 2px;
}

#emptyField1, #emptyField2, #incorrectLabel {
    -fx-text-fill: #ff0000;
    -fx-font-family:  Roboto Condensed,Arial Narrow,Arial,sans-serif;
}

#emptyField1, #emptyField2, #incorrectLabel {
    -fx-text-fill: #ff0000;
    -fx-font-family:  Roboto Condensed,Arial Narrow,Arial,sans-serif;
}